/* ____________________________________ стандарт ! */
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800&display=swap");

body {
  font-family: "Plus Jakarta Sans";
  color: #5e6282;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  overflow: clip;
}
.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.page {
}
.page__hero {
  margin-bottom: 170px;
}
.page__features {
  margin-bottom: 200px;
}
.page__services {
  margin-bottom: 200px;
}
.page__reviews {
  margin-bottom: 200px;
}
.page__location {
  margin-bottom: 240px;
}
@media (max-width: 1200px) {
  .page__hero {
    margin-bottom: 60px;
  }
  .page__features {
    margin-bottom: 100px;
  }
  .page__services {
    margin-bottom: 100px;
  }
  .page__reviews {
    margin-bottom: 100px;
  }
  .page__location {
    margin-bottom: 100px;
  }
}
@media (max-width: 991.98px) {
  .page__hero {
    margin-bottom: 60px;
  }
  .page__features {
    margin-bottom: 60px;
  }
  .page__services {
    margin-bottom: 60px;
  }
  .page__reviews {
    margin-bottom: 60px;
  }
  .page__location {
    margin-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .page__hero {
    margin-bottom: 50px;
  }
  .page__features {
    margin-bottom: 40px;
  }
  .page__services {
    margin-bottom: 50px;
  }
  .page__reviews {
    margin-bottom: 50px;
  }
  .page__location {
    margin-bottom: 50px;
  }
}
@media (max-width: 479.98px) {
  .page__hero {
    padding-top: 40px;
  }
}
/* ____________________________________ стандарт ! */
/* ____________________________________ коробочки ! */

.header-block {
  font-weight: 800;
}
.header-block__label {
  text-transform: uppercase;
  color: #4475f2;
  font-size: 18px;
  line-height: 127.777778%; /* 23/18 */
  letter-spacing: 2px;
}
.header-block__label:not(:last-child) {
  margin-bottom: 12px;
}
.header-block__title {
  color: #000000;
  font-size: 48px;
  line-height: 135.416667%; /* 65/48 */
}
.header-block--margin {
  margin-bottom: 90px;
}
@media (max-width: 1200.98px) {
  .header-block--margin {
    margin-bottom: 70px;
  }
}
@media (max-width: 991.98px) {
  .header-block--margin {
    margin-bottom: 50px;
  }
  .header-block__label {
    font-size: 16px;
  }
  .header-block__title {
    font-size: 42px;
  }
}
@media (max-width: 767.98px) {
  .header-block--margin {
    margin-bottom: 40px;
  }
  .header-block__label {
    font-size: 14px;
  }
  .header-block__title {
    font-size: 36px;
  }
}
@media (max-width: 479.98px) {
  .header-block--margin {
    margin-bottom: 30px;
  }
  .header-block__title {
    font-size: 32px;
  }
}
/* ___________________________________ коробочки ! */
/* _______________________________________ header */
.header {
  padding-top: 77px;
  /* position: sticky;
  top: 0; */
  position: relative;
  z-index: 50;
}
.header__container {
  display: flex;
  align-items: center;
  column-gap: 125px;
}

.header__logo {
  flex: 0 0 80px;
}
.header__logo img {
  max-width: 100%;
  min-height: 100%;
}
.header__menu {
}

.menu {
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 5px;
}

.menu__item {
}
.menu__link {
  color: #9a9ea6;
  font-size: 14px;
  transition: color 0.3s;
  text-shadow: 0 0 1px #fff;
}
.menu__link:hover {
  color: #4737ff;
}
@media (max-width: 991.98px) {
  .header__container {
    column-gap: 50px;
  }
  .menu__list {
    column-gap: 20px;
  }
}
@media (max-width: 479.98px) {
  .header {
    padding-top: 15px;
  }
  .header__container {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
  .header__logo {
    max-width: 150%;
    flex: 0 0 auto;
  }
  .menu__list {
    justify-content: center;
  }
  .menu__link {
    font-size: 20px;
  }
}
/* _____________________________________________ end */
/* ___________________________________ section hero */

.hero {
  padding-top: 67px;
  padding-bottom: 40px;
  position: relative;
}

.hero__container {
  display: flex;
}
@media (max-width: 1200px) {
  .hero__container {
    flex-direction: column;
    row-gap: 30px;
  }
}

.hero__container::before,
.hero__container::after {
  content: "";
  position: absolute;
  background-color: #4475f2;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  height: 150%;
  transform-origin: left bottom;
  width: 200vw;
  border-radius: 50px;
  bottom: 0;
}
.hero__container::before {
  left: calc(50% + 30px);
  transform: skewX(-20deg);
}
.hero__container::after {
  transform: skewX(31deg);
  left: calc(50% + 444px);
}
.hero__content {
  flex: 0 1 50%;
}
.content-hero {
  display: grid;
  align-content: start;
  gap: 30px;
  justify-items: start;
  position: relative;
  z-index: 2;
}
@media (min-width: 1200px) {
  .content-hero {
    padding-right: 20px;
  }
}

.content__title {
  font-size: 76px;
  font-weight: 800;
  letter-spacing: -4;
  line-height: 117.105263%; /* 89/76 */
  color: #181e4b;
}
@media (max-width: 991.98px) {
  .content__title {
    font-size: 55px;
  }
}
@media (max-width: 479.98px) {
  .content__title {
    font-size: 42px;
  }
}
.content__title a {
  color: #4475f2;
  text-decoration: underline;
  text-shadow: 0px 0px 8px #fff;
}
.content__title a:hover {
  text-decoration: none;
}
.content-hero__text {
  text-shadow: 0px 0px 10px #fff;
}
.content-hero__text p {
  line-height: 187.5%; /* 30/16 */
}
.content-hero__text p:not(:last-child) {
  margin-bottom: 10px;
}
.content-hero__button {
  text-align: center;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  /* Bold Shadow Primary */
  box-shadow: 0px 30px 60px 0px rgba(68, 117, 242, 0.25);
  /* Primary */
  background: rgb(68, 117, 242);
  position: relative;
  top: 0;
  transition: all 0.3s;
}

.content-hero__button:hover {
  top: 3px;
  background-color: #0b25e4;
  box-shadow: 0px 30px 60px 0px rgba(68, 117, 242, 0.5);
}

.hero__images {
  flex: 0 1 50%;
}
.images-hero {
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 27px;
}
.images-hero__item {
}
.images-hero__image {
  border-radius: 10px;
  max-width: 100%;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.25);
}
.images-hero__item--01 {
  grid-row: span 2;
  align-self: end;
  padding-bottom: 10px;
}
.images-hero__item--02 {
}
.images-hero__item--03 {
  align-self: center;
  justify-self: end;
  grid-row: span 2;
  padding-bottom: 10px;
}
.images-hero__item--04 {
  align-self: end;
  justify-self: end;
}
@media (max-width: 1200px) {
  .images-hero {
    align-self: center;
  }
}
/* _____________________________________________ end */
/* _____________________________________________features */

.features {
}
.features__container {
}
.features__header-block {
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.features__item {
  flex: 0 1 280px;
  display: grid;
  gap: 20px;
  justify-items: center;
  text-align: center;
}
.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #4475f2;
  border-radius: 20px;
  box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
}
.features__title {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}
.features__text {
  font-size: 30px;
}
@media (max-width: 930px) {
  .features__item {
    flex-grow: 1;
  }
}
/* _____________________________________________ end */
/* _____________________________________________ services */

.services {
}
.services__container {
}

.services__items {
  display: grid;
  gap: 140px;
}
@media (max-width: 1200px) {
  .services__items {
    gap: 100px;
  }
}
@media (max-width: 991px) {
  .services__items {
    gap: 70px;
  }
}
@media (max-width: 767px) {
  .services__items {
    gap: 40px;
  }
}

.services__item {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.services__content {
  flex: 1 1 250px;
}
.services__title {
  font-weight: 500;
  font-size: 32px;
  color: #000000;
  line-height: 125%; /* 40/32 */
}
.services__title:not(:last-child) {
  margin-bottom: 42px;
}
.services__title span {
  color: #4475f2;
}
.services__text {
}
.services__text p {
  font-weight: 500;
  line-height: 187.5%; /* 30/16 */
  color: #5e6282;
}
.services__text p:not(:last-child) {
  margin-bottom: 15px;
}

.services__picture {
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  max-width: 100%;
}

@media (min-width: 768px) {
  .services__body {
    max-width: 420px;
  }
  .services__item {
    align-items: flex-start;
  }
  .services__item:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .services__item:nth-child(odd).services__body {
    margin: 0 0 0 auto;
  }
  .services__image {
    flex: 1 1 250px;
  }
}
@media (max-width: 768px) {
  .services__item {
    flex-direction: column;
  }
  .services__image {
    text-align: center;
  }
  .services__title {
    font-size: 28px;
  }
  .services__title:not(:last-child) {
    margin-bottom: 32px;
  }
}
/* _____________________________________________ end */
/* ________________________________________ reviews  */

.reviews {
}
.reviews__container {
}
.reviews__header-block {
}

.reviews__body {
}
.reviews__items {
  display: flex;
  gap: 51px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.reviews__item {
  flex: 1 1 280px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  box-sizing: border-box;
  border: 1px solid rgb(222, 222, 222);
  box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02),
    0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04),
    0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04),
    0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  background: rgb(255, 255, 255);
}
.reviews__item > * {
  margin-bottom: 15px;
}
.reviews__link-avatar {
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.reviews__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews__text {
  margin-bottom: 25px;
  flex-grow: 1;
}
.reviews__text p {
  line-height: 187.5%; /* 30/16 */
}
.reviews__text p:not(:last-child) {
  margin-bottom: 10px;
}
.reviews__title {
  line-height: 187.5%; /* 30/16 */
}
.reviews__link-title {
  color: rgb(35, 166, 240);
}
.reviews__link-title:hover {
  text-decoration: underline;
}
.reviews__position {
  color: rgb(24, 30, 75);
}
.reviews__item > *:last-child {
  margin-bottom: 0px;
}
/* _____________________________________________ end */
/* ________________________________________ location  */

.location {
}
.location__container {
}
.location__header-block {
}

.location__map {
  width: 100%;
  height: 405px;
  box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
}

/* _____________________________________________ end */
/* ________________________________________ footer  */

.footer {
}
.footer__body {
  margin-bottom: 95px;
}

.footer__container {
  display: flex;
  column-gap: 100px;
  row-gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__item {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer__title {
  color: #000;
  font-size: 24px;
  font-weight: 700px;
  margin-bottom: 25px;
}
.footer__logo {
  max-width: 248px;
}
.footer__social {
}
.social {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  height: 93px;
  align-items: center;
}
.social__item {
}
.footer__link {
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: #000;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__copy {
  text-align: center;
  color: #fff;
  background-color: #4475f2;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 1200px) {
  .footer__body {
    margin-bottom: 70px;
  }
}
@media (max-width: 991px) {
  .footer__body {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .footer__body {
    margin-bottom: 30px;
  }
}
